anndata==0.8.0
h5py==3.7.0
joblib==1.2.0
jupyter-client==8.0.
jupyter-core==5.2.0
jupyterlab-pygments==0.2.2
kneed==0.8.2
leidenalg==0.9.1
matplotlib==3.6.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py==11.495.46
packaging==22.0
pandas==1.5.2
torch==2.0.0
python-dateutil==2.8.2
python-louvain==0.16
scale==1.1.2
scikit-learn==1.2.0
scipy==1.10.0
seaborn==0.12.2
session-info==1.0.0
kneed==0.8.2
ikarus==0.0.3
ipython==8.11.0
matplotlib-inline==0.1.6
numpy==1.23.4
numpy-groupies==0.10.2
pip==23.1.2
scanpy==1.9.3
scib==1.1.3
